@import "../fonts/stylesheet.css";
@import "./variables";
body {
  direction: rtl;
  font-family: "Yekan";
  font-size: 15px;
  color: $dark;
  background-color: $background;
}
.app {
  padding: 20px 0;
}

.logo-container {
  padding: 32px 0;
  .logo-image {
    width: 125px;
    height: auto;
    object-fit: cover;
    margin: auto;
  }
}

.register-container {
  background-color: $white;
  border-radius: 6px;
  border: 1px solid $dark_shadow;
  box-shadow: 0px 1px 2px 0px rgba($color: $dark, $alpha: 0.14);
  padding: 17px;
  .form-title {
    padding: 10px 0;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .form-label,
  .form-control {
    color: $light_dark;
  }
  .form-label {
    font-size: 0.8rem;
  }
  .form-control {
    font-size: 1rem;
  }
}

.btn-danger {
  background-color: $danger;
  font-size: 1rem;
}

.error-text {
  color: $danger;
  display: block;
  padding: 5px 0;
}

.icon-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  display: block;
  padding: 0;
  margin: auto;
  transition: 200ms all ease-in-out;
  &:hover,
  &:active {
    background-color: transparent;
    svg {
      transform: scale(1.2);
    }
  }
}

.table {
  box-shadow: 0px 2px 4px 0px $dark;
  border-radius: 6px;
  overflow: hidden;
  > thead {
    background-color: $light_table;
    th {
      border: none;
      color: $light_dark;
      font-size: 0.8rem;
      font-weight: normal;
      text-align: center;
    }
  }
  > tbody {
    border-top: 1px solid $dark_shadow !important;
    tr:nth-child(odd) {
      background-color: $dark_table;
    }
    tr:nth-child(even) {
      background-color: $light_table;
    }
    td {
      color: $light_dark;
      text-align: center;
    }
  }
  tr {
    height: 56px !important;
  }
  th,
  td {
    vertical-align: middle;
    border: none;
  }
}
.button-grid-container {
  text-align: left;
}
